:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --bg-primary: #F6F7FA;
    --blue: #00ADD8;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
